page {
  --bgColor: #000;
  --colorGreen: #1ab16c;
  --colorGreenGD: #58bd51;
  --colorGrey: #d0624f;
  --colorFont: #d0624f;
  --colorFontb: #ce854d;
  --colorBorder: #d0624f;
  --colorBackground: #7a2c2d;
  --colorBackgrounda: #7a2c2d;
  --colorBackgroundb: #d0624f;
  --colorHeader: Green;
  --colorButtonActive: #823d78;
  --colorButtona: #58bd51;
  --colorButtonb: #485860;

  // --bgColor:#000;
  // --colorGreen:#1ab16c;
  // --colorGreenGD:#58BD51;
  // --colorGrey:#485860;
  // --colorBackground:#DDDEDD;
  // --colorBackgrounda:#007a00;
  // --colorBackgroundb:#58BD51;
  // --colorHeader:Green;

  // --colorBackgrounda:#007a00;
  // --colorBackgroundb:#58BD51;
  // --colorHeader:#7cbf4b;
}

.color-outline {
  color: var(--colorGreen);
}

.wux-tabbar {
  border: 1px solid black;
  height: 500rpx;
}
