page{
  --bgColor:#000;
  --colorGreen:#1ab16c;
  --colorGreenGD:#58BD51;
  --colorGrey:#485860;
  --colorBackground:#DDDEDD;
  --colorBackgrounda:#007a00;
  --colorBackgroundb:#58BD51;
  --colorHeader:Green;

  // --colorBackgrounda:#007a00;
  // --colorBackgroundb:#58BD51;
  // --colorHeader:#7cbf4b;


}


.color-outline{
  color: var(--colorGreen);
}


.wux-tabbar{
  border:1px solid black;
  height:500rpx;
}
